<template>
<main class="container">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<h4>
				{{ chat.title }}
				<button class="btn btn-link pull-right" type="button"
								data-toggle="collapse" data-target="#chatInfo" aria-expanded="false"
								aria-controls="chatInfo">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</h4>
			<div class="collapse" id="chatInfo">
				<p>{{ chat.desc }}</p>
				<ul class="list-group">
					<li class="list-group-item">
						{{ chat.owner.name }}
						<span class="glyphicon glyphicon-star pull-right"></span>
					</li>
					<li class="list-group-item"
							v-for="(user, index) in chat.users" :key="index">
						{{ user.name }}
					</li>
				</ul>
			</div>
			<div class="well" style="height: 400px; overflow-y: auto;" ref="chatWell">
				<div class="media" v-for="(message, index) in chat.messages" :key="index">
					<div class="media-body">
						<h4 class="media-heading">{{ message.user.name }}</h4>
						{{ message.text }}
						<i class="pull-right">{{ new Date(message.date).toLocaleString() }}</i>
					</div>
				</div>
			</div>
			<form @submit="handleMessageSubmit">
				<div class="form-group">
					<textarea class="form-control" name="text" style="resize: vertical" rows="3"
										placeholder="Введите текст сообщения" v-model="message">
					</textarea>
				</div>
				<button type="submit" class="btn btn-primary pull-right">Отправить</button>
			</form>
		</div>
		<div class="col-xs-2"></div>
	</div>
</main>
</template>

<script>
export default {
	name: "ChatLP",
	data() {
		return {
			message: ""
		};
	},
	async mounted() {
		const that = this;
		await that.$store.dispatch("subscribeChatLP");
		that.unwatch = that.$store.watch(
			(state, getters) => state.chat.messages,
			(oldValue, newValue) => {
					that.$refs.chatWell.scrollTop = that.$refs.chatWell.scrollHeight;
			});
	},
	async beforeDestroy() {
		await this.$store.dispatch("unsubscribeChatLP");
		this.unwatch();
	},
	methods: {
		async handleMessageSubmit(e) {
			e.preventDefault();
			this.message = this.message.trim();
			if (!this.message) return;
			await this.$store.dispatch("sendMessageLP", this.message);
			this.message = "";
			e.target["text"].focus();
		}
	},
	computed: {
		chat() { return this.$store.state.chat }
	}
}
</script>

<style scoped>

</style>
