<template>
	<main class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h4>Мои чаты</h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
					 v-for="(chat, index) in mychats" :key="chat.id">
				<router-link :to="{ name: 'chat', params: { id: chat.id } }" class="chat-item">
					<div class="well">
						<div class="media">
							<div class="media-left">
								<img class="media-object" :src="chat.image" alt="chat image" style="height: 64px">
							</div>
							<div class="media-body">
								<h4 class="media-heading">
									{{ chat.title }}
									<span class="glyphicon glyphicon-star" title="Вы владелец чата"
												v-if="chat.owner.id === user.id"></span>
									<span class="badge pull-right" title="Количество пользователей">
										{{ chat.users.length + 1 }}
									</span>
								</h4>
								{{chat.desc}}
							</div>
						</div>
					</div>
				</router-link>
			</div>
			<div class="col-xs-12">
				<h4>Доступные чаты</h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
					 v-for="(chat, index) in chats" :key="chat.id">
				<a href="#" class="chat-item">
					<div class="well">
						<div class="media">
							<div class="media-left">
								<img class="media-object" :src="chat.image" alt="chat image" style="height: 64px">
							</div>
							<div class="media-body">
								<h4 class="media-heading">
									{{ chat.title }}
									<span class="badge pull-right" title="Количество пользователей">
										{{ chat.users.length + 1 }}
									</span>
								</h4>
								{{chat.desc}}
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: "Chats",
	computed: {
		user() { return this.$store.state.user; },
		mychats() { return this.$store.state.mychats; },
		chats() { return this.$store.state.chats; }
	}
}
</script>

<style scoped lang="scss">
	a.chat-item {
		color: #444444;
		&:hover {
			text-decoration: none;
		}
		& .well:hover {
			background-color: #ffffff;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		}
	}
</style>
