<template>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-3">
						<ul class="nav navbar-nav navbar-left">
							<li>
								<button type="button" class="btn btn-link btn-navbar"
												@click="handleLogoutClick">
									<span class="glyphicon glyphicon-log-out" title="Выйти"></span>
								</button>
							</li>
							<li><b class="navbar-text navbar-left hidden-xs">{{user.name}}</b></li>
						</ul>
					</div>
					<div class="col-xs-6">
						<header style="text-align: center">
							<h3 class="hidden-xs">Chit-Chat</h3>
							<h3 class="visible-xs">{{user.name}}</h3>
						</header>
					</div>
					<div class="col-xs-3">
						<ul class="nav navbar-nav navbar-right">
							<li><button type="button" class="btn btn-link btn-navbar">
								<span class="glyphicon glyphicon-cog" title="Настройки"></span>
							</button></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<div class="under-fixed-navbar">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
export default {
	name: "ChatApp",
	methods: {
		handleLogoutClick(e) {
			this.$store.commit("LOGOUT_USER");
			delete localStorage.user;
			this.$router.push({ name: "landing" });
		}
	},
	computed: {
		user() { return this.$store.state.user; }
	}
}
</script>

<style scoped lang="scss">
.under-fixed-navbar {
	padding-top: 90px;
}

.navbar-nav .btn-navbar .glyphicon {
	padding: 20px 10px;
	font-size: 28px;
	line-height: 28px;
}

.navbar-nav {
	margin: 0 -15px;
}

.navbar-right {
	float: right !important;
	margin-right: -15px;
}

.navbar-text {
	color: #666666;
	font-size: 20px;
}
</style>
