<template>
	<div class="snek">
		<div class="snax">
			<main class="container">
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-6">
						<header style="text-align: center">
							<h1>Chit-Chat</h1>
							<h4>Это мессенджер без регистрации с поддержкой конференций,
								голосового чата, веб-камеры и трансляции экрана</h4>
						</header>
						<div class="well">
							<template v-if="user.id === null">
								<form @submit="handleLoginSubmit">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Введите никнейм (минимум 3 символа)"
													 v-model="nickname" aria-label="Никнейм (минимум 3 символа)">
									</div>
									<button type="submit" class="btn btn-primary btn-block">
										Присоединиться к Chit-Chat
									</button>
								</form>
								<a class="btn btn-default" href="/auth/google">Войти с помощью Google</a>
							</template>
							<template v-else>
								<p>Вы уже залогинены как {{user.name}}</p>
								<router-link :to="{ name: 'chats' }" class="btn btn-primary btn-block">
									Перейти к Chit-Chat
								</router-link>
							</template>
						</div>
					</div>
					<div class="col-xs-3"></div>
				</div>
			</main>
		</div>
		<footer class="footer">
			<div class="container">
				<div style="text-align: center">Copyright: Refora Studio 2021</div>
			</div>
		</footer>
	</div>
</template>

<script>
import {apiUrl} from "../config";

export default {
	name: "Landing",
	data() {
		return {
			nickname: ""
		}
	},
	methods: {
		async handleLoginSubmit(e) {
			e.preventDefault();
			this.nickname = this.nickname.trim();
			if (this.nickname.length < 3) {
				return;
			}
			await this.$store.dispatch("register", this.nickname);
			await this.$router.push({name: "chats"});
		}
	},
	computed: {
		user() { return this.$store.state.user; },
	}
}
</script>

<style scoped>

</style>
