<template>
	<fragment>
		<router-view></router-view>
		<alert-snack :text="alertText"></alert-snack>
	</fragment>
</template>

<script>
	import AlertSnack from "./components/AlertSnack";
	import { mapState } from 'vuex';
	import { Fragment } from "vue-fragment";

	export default {
		created() {
			this.$store.dispatch("getUser");
		},
		updated() {
			const tooltipAttachments = document.querySelectorAll('[title]');
			Array.from(tooltipAttachments).map(
				element => new Tooltip(element, {
					placement: 'bottom'
				})
			);

			const collapseHandles = document.querySelectorAll('[data-toggle="collapse"]');
			Array.from(collapseHandles).map(
				element => new Collapse(element)
			);
		},
		computed: {
			...mapState({
				alertText: state => state.alertText
			})
		},
		components: {
			AlertSnack,
			Fragment
		}
	}
</script>

<style lang="scss">
$primary-color: #2196f3;

body, html {
	height: 100%;
}

body {
	margin: 0;
}

.snek	{
	position: relative;
	min-height: 100%;
}

.snek > .snax {
	padding-bottom: 62px;
}

.snek > .footer {
	color: #fefefe;
	background-color: $primary-color;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	height: 50px;
}
</style>
